.version.about /* version checker */
{
	color: #000007;
	background-color: #13FBEA;
}

.html
{
	background-color: #455A64;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.8499999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -20px;
	width: 0.01px;
}

#pu362
{
	width: 0.01px;
	padding-bottom: 82px;
	margin-left: -100px;
}

#u362
{
	z-index: 14;
	height: 82px;
	top: 0px;
}

#u362-bw
{
	z-index: 14;
}

#pamphletu363
{
	z-index: 15;
	width: 0.01px;
	height: 82px;
	top: 0px;
	right: 313px;
}

#u371popup
{
	z-index: 16;
}

#u371
{
	width: 314px;
	top: 82px;
	left: -1px;
}

#u372
{
	z-index: 17;
	width: 314px;
	height: 306px;
	margin-right: -10000px;
}

#u377
{
	z-index: 32;
	width: 314px;
	padding-bottom: 17px;
}

#u439
{
	z-index: 33;
	width: 108px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 103px;
}

#buttonu386
{
	z-index: 18;
	width: 314px;
	padding-bottom: 24px;
}

#buttonu386:hover
{
	width: 314px;
	min-height: 0px;
	margin: 0px;
}

#u389-4
{
	z-index: 19;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu386:hover #u389-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u387
{
	z-index: 23;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu386:hover #u387
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu386:active #u387
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu382
{
	z-index: 25;
	width: 314px;
	padding-bottom: 24px;
}

#buttonu386.ButtonSelected,#buttonu382:hover
{
	width: 314px;
	min-height: 0px;
	margin: 0px;
}

#buttonu382.ButtonSelected
{
	width: 314px;
	min-height: 0px;
	margin: 0px;
}

#u383-4
{
	z-index: 26;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu386.ButtonSelected #u389-4,#buttonu382:hover #u383-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#buttonu382.ButtonSelected #u383-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u384
{
	z-index: 30;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu386.ButtonSelected #u387,#buttonu382:hover #u384
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu382:active #u384
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu382.ButtonSelected #u384
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#u366
{
	z-index: 35;
	width: 313px;
	padding-bottom: 82px;
	margin-right: -10000px;
}

#u367
{
	width: 313px;
	padding-bottom: 24px;
	top: 0px;
	right: 0px;
}

#u367.PamphletThumbSelected
{
	width: 313px;
	min-height: 0px;
	margin: 0px;
}

#u368
{
	z-index: 37;
	width: 150px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 110px;
}

#u367.PamphletThumbSelected #u368
{
	width: 150px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#u370-4
{
	z-index: 39;
	width: 111px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 95px;
}

#u367.PamphletThumbSelected #u370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 111px;
	margin: 31px -10000px 0px 0px;
}

#u448
{
	z-index: 43;
	width: 297px;
	left: -100px;
	top: -77px;
	margin-bottom: -74px;
}

#ppu488-4
{
	width: 0.01px;
	margin-left: 206px;
	margin-top: 27px;
}

#pu488-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u488-4
{
	z-index: 45;
	width: 549px;
	min-height: 70px;
	line-height: 66px;
	color: #FFFFFF;
	text-align: center;
	font-size: 55px;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	position: relative;
}

#u494
{
	z-index: 49;
	width: 315px;
	background-color: transparent;
	margin-left: 117px;
	margin-top: 10px;
	position: relative;
}

#u504
{
	z-index: 67;
	width: 100px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 549px;
}

#pu500-16
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 10px;
}

#u500-16
{
	z-index: 51;
	width: 920px;
	min-height: 70px;
	color: #FFFFFF;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
}

.AboutTitle,.AboutBody
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u506
{
	z-index: 68;
	width: 100px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 920px;
}

#pu486-4
{
	width: 0.01px;
	margin-top: 42px;
}

#u486-4
{
	z-index: 2;
	width: 486px;
	min-height: 20px;
	margin-right: -10000px;
}

#u487-4
{
	z-index: 6;
	width: 266px;
	min-height: 20px;
	margin-right: -10000px;
	left: 694px;
}

#pu519
{
	width: 0.01px;
}

#u519
{
	z-index: 10;
	width: 20px;
	margin-right: -10000px;
}

#u525
{
	z-index: 12;
	width: 20px;
	margin-right: -10000px;
	left: 30px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

