.version.index /* version checker */
{
	color: #000000;
	background-color: #8D9308;
}

.html
{
	background-color: #455A64;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu362
{
	width: 0.01px;
	padding-bottom: 470px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u362
{
	z-index: 14;
	height: 82px;
	top: 0px;
}

#u362-bw
{
	z-index: 14;
}

#pamphletu363
{
	z-index: 15;
	width: 0.01px;
	height: 82px;
	padding-bottom: 388px;
	top: 0px;
	right: 1160px;
}

#u371popup
{
	z-index: 16;
}

#u371
{
	width: 314px;
	top: 82px;
	left: 846px;
}

#u372
{
	z-index: 17;
	width: 314px;
	height: 388px;
	margin-right: -10000px;
}

#u377
{
	z-index: 39;
	width: 314px;
	padding-bottom: 17px;
}

#u439
{
	z-index: 40;
	width: 108px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 103px;
}

#buttonu386
{
	z-index: 25;
	width: 314px;
	padding-bottom: 24px;
}

#buttonu386:hover
{
	width: 314px;
	min-height: 0px;
	margin: 0px;
}

#u389-4
{
	z-index: 26;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu386:hover #u389-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u387
{
	z-index: 30;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu386:hover #u387
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu386:active #u387
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu382
{
	z-index: 32;
	width: 314px;
	padding-bottom: 24px;
}

#buttonu386.ButtonSelected,#buttonu382:hover
{
	width: 314px;
	min-height: 0px;
	margin: 0px;
}

#u383-4
{
	z-index: 33;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu386.ButtonSelected #u389-4,#buttonu382:hover #u383-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u384
{
	z-index: 37;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu386.ButtonSelected #u387,#buttonu382:hover #u384
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu382:active #u384
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu571
{
	z-index: 18;
	width: 314px;
	padding-bottom: 24px;
}

#buttonu382.ButtonSelected,#buttonu571:hover
{
	width: 314px;
	min-height: 0px;
	margin: 0px;
}

#buttonu571.ButtonSelected
{
	width: 314px;
	min-height: 0px;
	margin: 0px;
}

#u572-4
{
	z-index: 19;
	width: 122px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu382.ButtonSelected #u383-4,#buttonu571:hover #u572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#buttonu571.ButtonSelected #u572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u573
{
	z-index: 23;
	width: 17px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu382.ButtonSelected #u384,#buttonu571:hover #u573
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu571:active #u573
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu571.ButtonSelected #u573
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#u366
{
	z-index: 42;
	width: 1160px;
	padding-bottom: 82px;
	margin-right: -10000px;
}

#u367
{
	width: 1160px;
	padding-bottom: 3px;
	top: 0px;
	right: 0px;
}

#u367.PamphletThumbSelected
{
	width: 1160px;
	min-height: 0px;
	margin: 0px;
}

#u448
{
	z-index: 44;
	width: 297px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 92px;
}

#u367.PamphletThumbSelected #u448
{
	width: 297px;
	min-height: 0px;
	margin: 5px -10000px 0px 0px;
}

#pu368
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 942px;
}

#u368
{
	z-index: 46;
	width: 150px;
	margin-right: -10000px;
	left: 15px;
}

#u367.PamphletThumbSelected #u368
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u370-4
{
	z-index: 48;
	width: 111px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u367.PamphletThumbSelected #u370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 111px;
	margin: 7px -10000px 0px 0px;
}

#u464-7
{
	z-index: 52;
	width: 727px;
	min-height: 71px;
	color: #FFFFFF;
	text-align: center;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 117px;
}

.Home
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u464-2,#u464-3
{
	font-size: 36px;
	line-height: 43px;
	font-weight: normal;
}

#u464-5
{
	font-size: 50px;
	line-height: 60px;
	font-weight: bold;
}

#pu467
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 62px;
	margin-left: 844px;
}

#u467
{
	z-index: 59;
	width: 100px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u472
{
	z-index: 60;
	width: 100px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#pu486-4
{
	width: 0.01px;
	margin-bottom: -20px;
	margin-right: -10000px;
	margin-top: 480px;
}

#u486-4
{
	z-index: 2;
	width: 486px;
	min-height: 20px;
}

#pu519
{
	width: 0.01px;
}

#u519
{
	z-index: 10;
	width: 20px;
	margin-right: -10000px;
}

#u525
{
	z-index: 12;
	width: 20px;
	margin-right: -10000px;
	left: 30px;
}

#u487-4
{
	z-index: 6;
	width: 266px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 480px;
	left: 694px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -480px;
}

