#u82
{
	background-color: #CDDC39;
}

#u82_align_to_page
{
	position: relative;
}

#u138
{
	background-color: #CDDC39;
	position: relative;
}

#u138:hover
{
	background-color: #8BC34A;
}

#u139
{
	background-color: #CDDC39;
	position: relative;
}

#u139:hover
{
	background-color: #8BC34A;
}

#u138.MuseLinkActive,#u139.MuseLinkActive
{
	background-color: #4CAF50;
}

#u141-4,#u143-4
{
	background-color: transparent;
	text-align: center;
	font-size: 27px;
	line-height: 32px;
	font-family: advent-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u145,#u144,#u146
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u140
{
	background-color: #CDDC39;
	position: relative;
}

#u140:hover
{
	background-color: #8BC34A;
}

#u132
{
	background-color: transparent;
	position: relative;
}

